h1 {
    font-size: 3rem;
    width: 20%;
    border: grey solid 4px;
}

h2 {
    background-color: white;
}

.inner-content {
    padding: 50px;
}

.buttons {
    padding-top: 65px;
}

button {
    margin: 20px;
    display: inline-block;
    border-color: transparent;
    text-transform: capitalize;
    background-color: #0073cf;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

button:hover {
   background-color: #003153;
}